
@use "../../../styles/theme.scss";
@use "../../../styles/font.scss";

.start {

    width: 156px;
    height: 56px;
    
    /* Accent/Strong Blue */
    
    background: theme.$blue-app;
    border-radius: 12px;
    border: 0px;
}

.join {

    width: 156px;
    height: 56px;
    
    /* Background / Extra White */
    
    background: theme.$white-app;
    border-radius: 12px;
    border: 0px;
}

.start > p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    text-align: center;
    
    /* Background / White */
    
    color: theme.$pure-white;
}

.join > p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    text-align: center;
    
    /* Accent/Strong Blue */
    
    color: theme.$blue-app;
}