@font-face {
	font-family: "Poppins";
	src: url("./fonts/Poppins-Regular.ttf");
	/* src: url("src/fonts/Poppins-Regular.ttf"); */
}
@font-face {
	font-family: "SF Pro Text";
	src: url("./fonts/FontsFree-Net-SFProText-Regular.ttf");
	/* src: url("src/fonts/Poppins-Regular.ttf"); */
}

*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
